<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="AppS.REST.ZPM"><Module>
  <Name>AppS.REST</Name>
  <Version>1.0.0</Version>
  <Packaging>module</Packaging>
  <Resource Name="AppS.REST.PKG" />
  <Resource Name="AppS.Util.Buffer.CLS" />
  <Resource Name="AppS.Util.SASchemaClass.CLS" />
  <UnitTest Name="/internal/testing/unit_tests/" Package="UnitTest.AppS.REST" Phase="test" />
  <UnitTest Name="/internal/testing/unit_tests/" Package="UnitTest.AppS.Util" Phase="test" />
  <LifecycleClass>Module</LifecycleClass>
</Module>
</Document></Export>
